.contacts {
	padding-top: 100px;
	padding-bottom: 60px;
	background: #fff;
	background: linear-gradient(to top,#fff 50%,#989895);
}

.contacts .block_main_title {
	width: 100%;
	color: #3A3E3E;
	line-height: 1.2;
	font-weight: 300;
	font-size: 26px;
	margin-bottom: 40px;
}

.contacts .contacts_list {
	text-align: left;
	margin: 0 auto;
}

.contacts .contacts_list li {
	width: 100%;
	font-size: 14.4px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #3A3E3E;
	line-height: 1.5;
	padding: 15px;
}

.contacts .contacts_list li .title {
	font-weight: 600;
}

.contacts .contacts_list li .description {
	margin-top: 5px;
	padding-left: 10px;
}

@media screen and (max-width: 767px) {

	.contacts .contacts_list {
		display: inline-block;
	}

}

@media screen and (min-width: 768px) {

	.contacts .contacts_list li {
		width: 50%;
		font-size: 16px;
	}

}

@media screen and (min-width: 992px) {

	.contacts {
		padding-top: 120px;
	}

	.contacts .block_main_title {
		font-size: 30px;
	}

}
